<div class="col-md-8 user-container marginAuto">
<h2 class="text-center">Perfil</h2>
    <!-- <form  (ngSubmit)="onSubmit()"> 

        <div class="form-group">
        <label for="pw">Contraseña actual:</label>
        <input type="password"  placeholder="Contraseña" id="pw" name="pw" [(ngModel)]="user.password"  class="form-control" required>
        </div>

        <div class="form-group">
            <label for="role">Contraseña Nueva:</label>
            <input type="text" name="role" id="role" [(ngModel)]="user.role"  class="form-control" required disabled >
        </div>

        <div *ngIf="errorMsg" class="alert alert-danger">
        {{errorMsg}}
        </div>

        <button class="btn btn-dark" type="submit" >Guardar</button>
        <button class="btn btn-dark marginLeft20"  routerLink="/admin">Volver</button>
    </form> -->
  </div> 