.marginAuto {
    margin: auto;
    margin-top: 30px;
}

.marginLeft20{
    margin-left: 20px; 
}
 
.example-radio-group {
    display: flex;
    flex-direction: column;
  
  }
  .multiSelect{
      width:100%;
      display: block;
  }

  .btn{
      margin-bottom:30px; 
  }
/* @media screen and (max-width: 767px){

    .user-container{
        margin: 30px 20px ; 
    }    

} */