<div class="col-md-8 user-container marginAuto">
    <h2 class="text-center">Editar usuario {{user.name}}</h2>
     <form #form='ngForm' ngNativeValidate (ngSubmit)="onSubmit() "> 
   
          <div class="form-group">
              <label for="username">Teléfono:</label>
              <input type="text"  placeholder="Teléfono" id="username" name="username" [(ngModel)]="user.username" class="form-control" required autofocus>
          </div>
  
          <div class="form-group">
              <label for="name">Nombre:</label>
              <input type="text"  placeholder="Nombre" id="name" name="name" [(ngModel)]="user.name"  class="form-control" required >
          </div>

          <div class="form-group">
            <label for="pw">Contraseña (Dejar en blanco si no se desea modificar) :</label>
            <input type="text"  placeholder="Contraseña" id="pw" name="pw" [(ngModel)]="user.password"  class="form-control" >
          </div>
  
          <div class="form-group">
              <label for="role">Perfil:</label>
              <input type="text"  name="role" id="role" [(ngModel)]="user.role"  class="form-control" required disabled >
          </div>

          <div class="form-group">
            <label id="example-radio-group-label">Tipo de usuario: </label>
            <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="optionSelected" 
            name="activo">
            <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option.value" required>
                {{option.viewValue}}
            </mat-radio-button>
            </mat-radio-group>           
          </div>
    
          <mat-form-field class="multiSelect">
            <mat-label>Profesores asignados</mat-label>
            <mat-select [formControl]="teacherMultiSelect" multiple>
              <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">{{teacher.username}} - {{teacher.name}} </mat-option>
            </mat-select>
          </mat-form-field>


          <div *ngIf="errorMsg" class="alert alert-danger">
            {{errorMsg}}
          </div>
          <br>
          <button class="btn btn-dark" type="submit" >Guardar</button>
          <button class="btn btn-dark marginLeft20"  routerLink="/admin/user">Volver</button>
      </form>
  </div> 