@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }

    .display-5{
        font-size: 1.5rem !important;
        padding-top: 6px;
    }




}



.abrev{
    display:none !important; 
}


@media (min-width: 576px) and (max-width:626px) {

    .abrev{
        display:flex !important; 
    }
    .non-abrev{
        display:none !important; 
    }

}


@media (min-width: 576px)   {
    .day {
        /* height: 14.2857vw; */
        min-height:150px; 
    }


}



.container-fluid{
    max-width:1500px; 
    padding:30px; 
    padding-bottom:100px; 

}

.display-5{
    font-size: 2.1rem;

    font-weight: 300;
    line-height: 1.2;
}

.left-col {
    float: left;
    width:10%;
}
.center-col {
    float: left;
    text-align: center;
    width: 80%;
}
.right-col {
    float: left;
    text-align: right;
    width: 10%;
}


.titleContainer{
    height:auto; 
}

header{
    padding-top: 30px;
}

.event{
    /* min-height:46.5px;  */
    min-height:51px;
}

.align-center{
    text-align:center; 
}

.event-title {
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.0rem;
}

.not-cur-month{
    /* border: 1px solid #a5a2a2!important; */
    background-color: #d4d4d4!important;
}

.day{
    opacity: 0.8;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/

}

.hidden{
    visibility: hidden; 
}

.cursor-pointer{
    cursor:pointer; 
}

.cursor-not-allowed{
    cursor:not-allowed; 
    
}



.text-truncate-custom {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}


/* .days-container{
    grid-auto-rows: 1fr;
} */

.event-container{
   height:100%; 
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
}

.afternoon-event{
    margin-top: auto;
}



.feast-day a{
    background-color: #6c757d!important; 
}

.feast-day {
    background-color: #d4d4d4!important; 
}

.current-day{
    background-color:powderblue !important; 
}